*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #000;
	height: 100vh;
	width: 100%;
}

.container{
	color: #fff;
	display: flex;
	justify-content: center;
	align-content: center;
}
